h1 {
    color : red;
    text-align : center;
}

div {
    padding: 3%;
    background-color : lightblue;
    font-size: large;
    font-weight: bolder;
    color : yellow;
    text-align : center;
}
body {
    background-color: lightgoldenrodyellow;
}
